*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*equals 10px*/
}

body,
html {
  min-height: 100vh;
}

/*header {
  grid-area: header;
  background: linear-gradient(to bottom, #023e8a, #03045e, #0077b6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

h1 {
  color: #e6f5f9;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-family: "Pinyon script";
  text-align: center;
  padding: 3rem;

  
}*/

body {
  margin: 0;
  display: grid;
  /*min-height: 100vh;*/
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto 1.5rem;

  grid-template-areas:
    "nav"
    "main"
    "aside"
    "section"
    "footer";
}

h1 {
  font-size: 2rem;
  /*padding: 5rem;*/
  text-align: center;
  margin-bottom: 1rem;
}

.menu-icon {
  height: 5rem;
  position: absolute;
  filter: saturate(3.2);
}
.heading {
  font-size: 5rem;
  padding: 3rem;
  font-family: 'Times New Roman', Times, serif;
}

.projects {
  padding: 0.8rem;
  border-radius: 10px 100px / 120px;
  border: 2.5px solid #e6f5f979;
  border: 2.5px solid #80ed999f;
  background-color: #e6f5f936;
}

.projects:hover {
  color: white;
}

.navigation {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  /*background: linear-gradient(to bottom, #0b0d7e, #023e8a, #0077b6, #9fecfc);*/
  /*background: linear-gradient(to bottom, #023e8a, #03045e, #0077b6);*/
  background: linear-gradient(to bottom, #a69064,#d8c49a, #b9a273, #a69064, #8d784e, #947e53);
  color: white;
}

/*.navbar-links {
  display: none;
}*/

.nav-links ul {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-links li {
  list-style: none;
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 1.35rem;
  display: block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
}

.nav-links a:hover {
  /*transform: translateY(-2px);*/
  /*så den åker upp lite när man hovrar*/
  transition: 1s;
  color: white;
}

.nav-links.active {
  display: flex;
}

.nav-links {
  display: none;
}

.toggle-button {
  position: absolute;
  top: 9%;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37px;
  height: 26px;
  /*width: 50px;
  height: auto;*/
}

aside {
  grid-area: aside;
}

section {
  grid-area: section;
}

main {
  grid-area: main;
}

section,
main,
aside {
  text-align: center;
  font-size: 1.8rem;
  margin: 2rem;
  padding: 2.5rem;
  line-height: 1.5;
  box-shadow: 1px 1px 50px #cccccc;
}

/*******fetch repos section******/

button {
  border: 1px solid black;
  padding: 30px;
}

/*.list {
  display: none;
}*/

.myList {
  list-style: none;
  text-align: center;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.my-projects {
  height: 1050px;
  margin: 50px auto;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 86px;
}
.my-projects-paint-chat{
  background: linear-gradient(to bottom, #686969, #1e1f20, #020202);
  background: linear-gradient(to bottom, #f1e1bf, #b9a273, #a69064);
}

.my-projects-law {
  background: linear-gradient(to bottom, #a69064, #b9a273, #d1ba8d);
  background: linear-gradient(to bottom, #f1e1bf, #b9a273, #a69064);
}

.my-projects-sort{
  background: linear-gradient(to bottom, #73dbf0, #359fd8, #0096c7);
  background: linear-gradient(to bottom, #686969, #1e1f20, #020202);
  background: linear-gradient(to bottom, #f1e1bf, #b9a273, #a69064);
  background: linear-gradient(to bottom, #f903cc, #f77ef5, #f7baba);
  background: linear-gradient(to bottom, #9203f9, #dd7ef7, #e5baf7);
  background: linear-gradient(to bottom, #f1e1bf, #b9a273, #a69064);
}

.my-projects-e-commerce{
  background: linear-gradient(to bottom, #73dbf0, #359fd8, #0096c7);
  background: linear-gradient(to bottom, #f1e1bf, #b9a273, #a69064);
}

.my-projects-haj {
  background: linear-gradient(to bottom, #80ed99, #3febb7, #20c997);
  background: linear-gradient(to bottom, #f1e1bf, #b9a273, #a69064);
}


/*.my-projects-java {
  background: linear-gradient(to bottom, #686969, #1e1f20, #020202);
  background: linear-gradient(to bottom, #73dbf0, #359fd8, #0096c7);
  background: linear-gradient(to bottom, #f1e1bf, #b9a273, #a69064);
}*/



h2 {
  color: #fff;
  font-size: 4rem;
}

.describing-text {
  font-size: 19px;
  line-height: 1.5;
  color: #fff;
  padding: 1rem;
}

.text-button-flex {
  display: flex;
  flex-direction: column;
}

.read-more-btn:link,
.read-more-btn:visited {
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 10px 26px;
  color: #322b1e;
  cursor: pointer;
  border: 2px solid #fff8eca2;
  background-image: linear-gradient(to bottom, #c1b193, #a69064);
  transition: all 0.2s;
  z-index: 1;
}

.read-more-btn:hover,
.read-more-btn:active {
  background-image: linear-gradient(to bottom, #f6f4f0ba, #f6f4f00b, #f6f4f00b);
  background-color: #20c997;
  color: white;
  transition: 0.3s;
}

.read-more-btn:hover {
  transform: translateY(-3px);
  /*så den åker upp lite när man hovrar*/
  z-index: 1;
  box-shadow: 0 10px 20px #110e0a35;
}

.read-more-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px #110e0a6b;
}
.carousel {
  /*height: 320px;*/
  height: 307px;
  /*width: 480px;*/
  width: 478px;
  /*border: 1px solid black;*/
  position: relative;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  /*border: solid 2px white;*/
}

.slide {
  position: absolute;
  inset: 0;
  /*så alla startar i övre vänstra hörnet*/
  opacity: 0;
  transition: 1000ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-pic {
  object-position: left;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
  z-index: 1;
}

.carousel-button {
  /*position: absolute;*/
  /*background: none;*/
  border: none;
  font-size: 4rem;
  z-index: 2;
  color: rgb(255, 255, 255);

  cursor: pointer;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: #a6906465;
  background: linear-gradient(to bottom, #faf4e896, #b9a27394, #a6906496);
}

.previous {
  position: absolute;
  top: 42%;
  right: 88.5%;
}

.next {
  position: absolute;
  top: 42%;
}
.carousel-button:hover,
.carousel-button:focus {
  color: #20c997;
  color: #a69064;
  /*background-color: #20c99660;
*/
}

.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer {
  grid-area: footer;
  padding: 3rem;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  color: #888;
}

/*tablets*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto 2rem;
    grid-template-areas:
      "nav nav"
      "main main"
      "aside aside"
      "section section"
      "footer footer";
  }

  h1 {
    font-size: 3rem;
    /*padding: 5rem;*/
    text-align: center;
    margin-bottom: 2rem;
  }

  .menu-icon {
    display: none;
  }

  .navigation {
    justify-content: space-between;
    align-items: center;
    /*flex-direction: row;*/
    font-weight: 500;
    padding-left: 1rem;
    background: linear-gradient(to bottom, #a69064,#d8c49a, #b9a273, #a69064, #8d784e, #947e53);
    color: white;
  }

  .my-name {
    font-size: 5rem;
    padding-top: 2rem;
  }

  .nav-links {
    display: block;
  }

  .nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .toggle-button {
    display: none;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .my-projects {
    height: 1100px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 86px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  }

  .carousel {
    /* height: 395px;
    width: 710px;*/
    height: 627px;
    /*width: 480px;*/
    width: 798px;
    position: relative;
  }
  .previous {
    position: absolute;
    top: 42%;
    right: 92.3%;
  }

  .describing-text {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
  }
}
@media screen and (min-width: 992px) {
  body {
    margin: 0;
    display: grid;
    /*vi har två kolumner och 4 rader:*/
    grid-template-columns: auto;
    /*side och ads*/

    grid-template-rows: auto auto auto auto 2rem;
    grid-template-areas:
      "nav nav"
      "main main"
      "aside aside"
      "section section"
      "footer footer";
  }
  .nav-links li a {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .my-projects {
    height: 1100px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 86px;
  }

  .carousel {
    /*height: 545px;
    width: 880px;*/
    height: 627px;
    /*width: 480px;*/
    width: 798px;
    position: relative;
  }
  .previous {
    position: absolute;
    top: 42%;
    right: 93.3%;
  }

  h1 {
    font-size: 3rem;
    /*padding: 5rem;*/
    text-align: center;
    margin-bottom: 2rem;
  }
}
