*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*equals 10px*/
  font-size: 68%;
}

body,
html {
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
}

body {
  /*font-family: "Times New Roman";*/
  font-family: Raleway;
  font-family: "Times New Roman";
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1.5rem;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

.menu-icon {
  height: 5rem;
  position: absolute;
  filter: saturate(3.2);
}

.heading {
  font-size: 5rem;
  padding: 3rem;
  font-family: 'Times New Roman', Times, serif;
}

.navigation {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  /*background: linear-gradient(to bottom, #0b0d7e, #023e8a, #0077b6, #9fecfc);*/
  /*background: linear-gradient(to bottom, #023e8a, #03045e, #0077b6);*/
  background: linear-gradient(to bottom, #a69064,#d8c49a, #b9a273, #a69064, #8d784e, #947e53);
  color: white;
}

.nav-links ul {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-links li {
  list-style: none;
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 1.35rem;
  display: block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
}

.nav-links a:hover {
  /*transform: translateY(-2px);*(
  /*så den åker upp lite när man hovrar*/
  transition: 1s;
  color: white;
}


.nav-links.active {
  display: flex;
}

.nav-links {
  display: none;
}

.toggle-button {
  position: absolute;
  top: 9%;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37px;
  height: 26px;
  /*width: 50px;
  height: auto;*/
}

.cv {
  padding: 0.8rem;
  border-radius: 10px 100px / 120px;
  /*border: 2.5px solid #e6f5f979;*/
  border-radius:50px;
  /*border: 2.5px solid #80ed999f;*/
  background-color: #e6f5f936;
}

.cv:hover {
  color: white;
}

main {
  background-image: url(pillars.png);
  background-size: cover;
  height: 200vh;
  width:100vw;
}

.grid-container{
  display: flex;
  flex-direction: row;
}

.grids{
  margin:2rem;
  /*padding:2rem;*/
  width:35rem;
  height:35rem;
  background-color: beige;
}

.inner-grid{
 margin-left:2.2rem;
 margin-top:2.2rem;
  border:2px solid black;
  width:30rem;
  height:30rem;

}



footer {
  grid-area: footer;
  padding: 3rem;
  font-size: 1.8rem;
  margin-top: 1.5rem;
}
/*tablets*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 2rem;
    grid-template-areas:
      "nav nav"
      "main main"
      /*"aside main"*/
      "footer footer";
  }

  .menu-icon {
    display: none;
  }

  .navigation {
    justify-content: space-between;
    align-items: center;
    /*flex-direction: row;*/
    font-weight: 500;
    padding-left: 1rem;
    background: linear-gradient(to bottom, #a69064,#d8c49a, #b9a273, #a69064, #8d784e, #947e53);
    color: white;
  }

  .my-name {
    font-size: 5rem;
    padding-top: 2rem;
  }

  .nav-links {
    display: block;
  }

  .nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .nav-links li a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
  }

  .toggle-button {
    display: none;
  }


  
}
@media screen and (min-width: 992px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 2rem;
    grid-template-areas:
      "nav nav"
      "main main"
      /*"aside main"*/
      "footer footer";
  }

  .nav-links li a {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
